section.posts
	.container.posts-content
		.posts-wrap
			h2.posts-title Recent posts
			ul.posts-list
				-
					const posts = [
						{
							title: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises',
							link: '#',
							imgSrc: 'post1',
							imgAlt: 'POST1',
							author: 'Derek Zimmer',
							date: 'JUL 25, 2018',
							tags: [
								{link: 'Copyright', name: 'Copyright'},
								{link: 'News', name: 'News'},
								{link: 'Open Source', name: 'Open Source'},
								{link: 'Privacy', name: 'Privacy'},
							],
							comments: 0,
						},
						{
							title: 'How to get cheaper flights using a VPN',
							link: '#',
							imgSrc: 'post2',
							imgAlt: 'POST2',
							author: 'Derek Zimmer',
							date: 'JUL 24, 2018',
							tags: [
								{link: '#', name: 'Guides'},
							],
							comments: 0,
						},
						{
							title: 'Net Neutrality was repealed, but the fight is far from over',
							link: '#',
							imgSrc: 'post3',
							imgAlt: 'POST3',
							author: 'Derek Zimmer',
							date: 'JUL 22, 2018',
							tags: [
								{link: '#', name: 'Governments'},
								{link: '#', name: 'Net Neutrality'},
								{link: '#', name: 'News'},
							],
							comments: 0,
						},
						{
							title: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises',
							link: '#',
							imgSrc: 'post1',
							imgAlt: 'POST1',
							author: 'Derek Zimmer',
							date: 'JUL 25, 2018',
							tags: [
								{link: '#', name: 'Governments'},
								{link: '#', name: 'Networking'},
								{link: '#', name: 'Open Source'},
								{link: '#', name: 'Privacy'},
								{link: '#', name: 'Security'},
							],
							comments: 0,
						},
						{
							title: 'How to get cheaper flights using a VPN',
							link: '#',
							imgSrc: 'post2',
							imgAlt: 'POST2',
							author: 'Derek Zimmer',
							date: 'JUL 24, 2018',
							tags: [
								{link: '#', name: 'Guides'},
							],
							comments: 0,
						},
						{
							title: 'Net Neutrality was repealed, but the fight is far from over',
							link: '#',
							author: 'Derek Zimmer',
							imgSrc: 'post3',
							imgAlt: 'POST3',
							date: 'JUL 22, 2018',
							tags: [
								{link: '#', name: 'Governments'},
								{link: '#', name: 'Net Neutrality'},
								{link: '#', name: 'News'},
							],
							comments: 0,
						},
						{
							title: 'NOT SHOW',
							link: '#',
							imgSrc: 'post1',
							imgAlt: 'POST1',
							author: 'No author',
							date: 'JUL 7, 2016',
							tags: [
								{link: '#', name: 'Governments'},
								{link: '#', name: 'Net Neutrality'},
								{link: '#', name: 'News'},
							],
							comments: 0,
						},
					]
				each post in posts
					li.posts-item
						.post
							a.post-link(href= post.link title= post.title)
							+picture('post-img', post.imgSrc, post.imgAlt)
							.post-wrap
								h2.post-title= post.title
								.post-legend
									p.post-author= post.author
									p.post-date= post.date
								ul.post-tags
									each tags in post.tags
										li.post-tags__item
											object
												a.post-tags__link(href=tags.link title=tags.name)= tags.name
												if post.tags.length === 1
													|&nbsp;
												else
													|,&nbsp;
								.post-comments
									svg.post-comments__icon.comments-icon(width='11' height='11')
										use(xlink:href='assets/img/icons.svg#comments')
									span= post.comments

			button.btn.btn-transparent.posts-btn Older posts

		.posts-sidebar.sidebar
			form.sidebar-form.search
				fieldset
					legend.visually-hidden Search by Blog
					.search-wrap
						input.search-input(id='search' type='text' placeholder='Search blog' name='search')
						label.visually-hidden(for='search') Please, insert search request
						button.search-btn
							svg.search-btn__icon(width='18' height='18')
								use(xlink:href='assets/img/icons.svg#search')
			.sidebar-wrap
				p.sidebar-title.sidebar-announcements Announcements
				ul.sidebar-wrap__list
					-
						const articles = [
							{link: '#', title: 'Upcoming Changes (Live Chat, Less Censorship, More Access)'},
							{link: '#', title: 'New Servers (US Washington DC)'},
							{link: '#', title: 'New Servers (US Denver)'},
							{link: '#', title: 'Open Source: Releasing the PIA iOS Client'},
							{link: '#', title: 'Opera Extension is now available'},
						]
					each items in articles
						li.sidebar-wrap__item
							a(href= items.link title= items.title)
								p= items.title
			.sidebar-wrap
				p.sidebar-title.sidebar-popular Popular posts
				ul.sidebar-wrap__list
					-
						const popular = [
							{link: '#', title: 'The Gift of Privacy'},
							{link: '#', title: 'UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture'},
							{link: '#', title: 'About the PIA Client Security and VPN Security in General'},
							{link: '#', title: 'A Private Net Is Just As Fundamental A Right As Freedom Of Speech'},
							{link: '#', title: 'Wiretapping Today Just Doesn’t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lie'},
						]
					each items in popular
						li.sidebar-wrap__item
							a(href= items.link title= items.title)
								p= items.title
			.sidebar-banner
				a.sidebar-banner__link(href='#' title='Partner link')
					+picture('sidebar-banner__img', 'banner', 'Partners')
			.sidebar-cloud.cloud
				p.sidebar-title.cloud-title Tag cloud
				canvas.js--cloud.cloud-canvas
